footer{
    background-color: $color_dark_cyan;

    .footer_container{
        padding-top: 100px;
        width: 80%;
        margin-left: 10%;

        .footer_logo{
            img{
                background-color: $color_pale_cyan;
            }
        }
    }

    .footer_info{
        display: flex;
        justify-content: space-between;
        color: $color_pale_cyan;

        .footer_info_one{
            .location{
                display: flex;
                column-gap: 5px;
            }
            .phone_number{
                display: flex;
                column-gap: 5px;
            }
            .email{
                display: flex;
                column-gap: 5px;
            }
        }
    }
}