$headings_font_weight: 600;
$headings_font_family: 'Poppins';
$header_width: 100%;
$header_height: 500px;
$header_max-width: 90%;
$header_margin-left: 5%;
$header_margin-top: 5%;
$button_font-family:'Open Sans';
$body_font_size: 18px;
$button_padding: 10px 50px;
$primary_pink: hsl(322, 100%, 66%);
$color_pale_cyan:hsl(193, 100%, 96%);
$color_dark_cyan:hsl(192, 100%, 9%);
$color_grayish_blue: hsl(208, 11%, 55%);
$button_border-radius: 30px;


